name: Publish to Github
on:
    workflow_dispatch:
    push:
        paths:
            - "images/**"
            - "images/**/**"
            - ".github/workflows/build-image.yaml"
        branches:
            - main
        tags:
            - v*.*.*
    # pull_request:
    #   branches:
    #     - main

env:
    RUNNER_VERSION: "2.329.0" # renovate: datasource=github-releases depName=actions/runner

jobs:
    publish-images:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        strategy:
            matrix:
                image:
                    - name: github-actions-runner
                      containerfile: images/github-actions-runner/Dockerfile
                      context: images/github-actions-runner
        steps:
            - name: Checkout repository
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

            - name: Set up QEMU
              uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
              with:
                  images: ghcr.io/${{ github.repository }}/${{ matrix.image.name }}
                  tags: |
                      # default tags
                      type=schedule
                      type=ref,event=branch
                      type=ref,event=tag
                      type=ref,event=pr
                      # set latest tag for default branch
                      type=raw,value=latest,enable={{is_default_branch}}
                      type=raw,value=0.1.${{ github.run_number }}

            - name: Log in to the Container registry
              uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
              with:
                  context: ./${{ matrix.image.context }}
                  file: ./${{ matrix.image.containerfile }}
                  platforms: linux/amd64
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  provenance: false
                  build-args: |
                      DOCKER_METADATA_OUTPUT_VERSION
                      RUNNER_VERSION=${{ env.RUNNER_VERSION }}
       
