name: Publish to Github
on:
    workflow_dispatch:
    push:
        paths:
            - "images/**"
            - "images/**/**"
            - ".github/workflows/build-image.yaml"
        branches:
            - main
        tags:
            - v*.*.*
    # pull_request:
    #   branches:
    #     - main

jobs:
    publish-images:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        strategy:
            matrix:
                image:
                    - name: github-actions-runner
                      containerfile: images/github-actions-runner/Dockerfile
                      context: images/github-actions-runner
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{ github.repository }}/${{ matrix.image.name }}
                  tags: |
                      # default tags
                      type=schedule
                      type=ref,event=branch
                      type=ref,event=tag
                      type=ref,event=pr
                      # set latest tag for default branch
                      type=raw,value=latest,enable={{is_default_branch}}

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: ./${{ matrix.image.context }}
                  file: ./${{ matrix.image.containerfile }}
                  platforms: linux/amd64
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  provenance: false
                  build-args: |
                      DOCKER_METADATA_OUTPUT_VERSION
